.services
    &-buttons
        display: flex
        flex-direction: column
        gap: 12px
        padding: 12px 0
    &-button
        width: 100%
        max-width: 382px
        height: 220px
        position: relative
        padding: 32px
        border-radius: 12px
        overflow: hidden
        margin: 0 auto
        cursor: pointer
        &__dark_opacity
            position: absolute
            z-index: 2
            left: 0
            right: 0
            top: 0
            bottom: 0
            background: rgba(38, 38, 38, 0.20)
            &-gradient
                position: absolute
                z-index: 3
                left: 0
                right: 0
                top: 0
                bottom: 0
                background: linear-gradient(180deg, rgba(38, 38, 38, 0.70) 0%, rgba(38, 38, 38, 0.58) 36.98%, rgba(38, 38, 38, 0.00) 100%)
        &__image
            position: absolute
            z-index: 1
            left: 0
            top: 0
            width: 100%
            height: 100%
            object-fit: cover

        &__content
            display: flex
            flex-direction: column
            gap: 8px
            position: relative
            z-index: 10

        &__title
            color: #FFF
            font-family: Montserrat
            font-size: 20px
            font-style: normal
            font-weight: 500
            line-height: normal
        &__desc
            color: #FFF
            font-family: Montserrat
            font-size: 14px
            font-style: normal
            font-weight: 400
            line-height: normal

.room-services
    display: flex
    flex-flow: row wrap
    gap: 16px
    padding: 12px 24px
    min-width: 344px
    min-height: 100vh
    align-content: flex-start
    @media screen and ( max-width: 384px )
        padding: 0 4px
        gap: 8px

    &__order-wrapper
        position: fixed
        bottom: 64px
        width: 100%
        padding: 24px 8px 8px 8px
        background: #F6F6F6
    &__order
        display: flex
        padding: 8px
        justify-content: space-between
        align-items: center
        border-radius: 8px
        background: #FFF
        max-width: 430px
        margin: 0 auto
    &__amount
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        gap: 4px
        &-title
            color: #A8A8A8
            text-align: center
            font-size: 11px
            font-style: normal
            font-weight: 600
            line-height: normal
        &-sum
            color: #262626
            text-align: center
            font-size: 16px
            font-style: normal
            font-weight: 600
            line-height: normal

    &__cart-logo
        div
            display: flex
            height: fit-content
    &__cart-btn
        cursor: pointer
        display: flex
        width: fit-content
        padding: 8px 12px
        justify-content: center
        align-items: center
        gap: 12px
        border-radius: 8px
        background: #56754B

        color: #FFF
        text-align: center
        font-size: 14px
        font-style: normal
        font-weight: 500
        line-height: normal

.room-service
    display: flex
    width: calc( 50% - 8px )
    min-width: 160px
    height: 220px
    padding: 12px
    flex-direction: column
    align-items: flex-start
    gap: 4px
    border-radius: 12px
    border: 1px solid rgba(0, 0, 0, 0.05)
    background: #FFF

    @media screen and ( max-width: 384px )
        width: calc( 50% - 4px )

    &__name
        color: #262626
        font-size: 16px
        font-style: normal
        font-weight: 600
        line-height: normal

    &__image
        margin: 16px auto 0 auto

    &__price
        color: #262626
        font-size: 14px
        font-style: normal
        font-weight: 500
        line-height: normal
    &__footer
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 100%
    &__add-btn
        width: 32px
        height: 32px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 8px
        background: #262626
        cursor: pointer
        div
            div
                display: flex
                height: fit-content
