.flex
    display: flex
.flex-col
    display: flex
    flex-direction: column
.flex-row
    display: flex
    flex-direction: row
    flex-wrap: wrap

.nowrap
    flex-wrap: nowrap

.touch-scroll
    overflow-x: hidden
    overflow-y: scroll
    // touch-action: none
    // transition: all 1s linear
    & > *
        // pointer-events: none

.fw
    width: 100%
.flex-row-c
    justify-content: center
.flex-col-c
    align-items: center
.flex-between
    justify-content: space-between
.items-end
    align-items: flex-end

@for $i from 1 through 50
    .gap-#{$i * 5}
        gap: #{$i * 5}px

.relative
    position: relative

.uppercase
    text-transform: uppercase

.page-wrapper
    width: 100%
    // max-width: 430px
    // width: 430px
    margin: 0 auto
    padding: 0 24px
    // border:
    //     left: 1px solid #dcdcdc
    //     right: 1px solid #dcdcdc
    @media screen and ( max-width: 710px )
        padding: 0
        border: none

.index-swiper
    padding: 0 24px 40px 24px !important

.promo-slider
    padding: 0 24px
    &__slide
        width: 100%
        height: 220px
        position: relative
        padding: 32px
        border-radius: 24px
        overflow: hidden
        margin: 0 auto
    &__dark_opacity
        position: absolute
        z-index: 2
        left: 0
        right: 0
        top: 0
        bottom: 0
        background: rgba(38, 38, 38, 0.20)
        &-gradient
            position: absolute
            z-index: 3
            left: 0
            right: 0
            top: 0
            bottom: 0
            background: linear-gradient(180deg, rgba(38, 38, 38, 0.70) 0%, rgba(38, 38, 38, 0.58) 36.98%, rgba(38, 38, 38, 0.00) 100%)
    &__image
        position: absolute
        z-index: 1
        left: 0
        top: 0
        width: 100%
        height: 100%
        object-fit: cover

    &__content
        display: flex
        flex-direction: column
        gap: 8px
        position: relative
        z-index: 10

    &__title
        color: #FFF
        font-family: Montserrat
        font-size: 20px
        font-style: normal
        font-weight: 500
        line-height: normal
    &__desc
        color: #FFF
        font-family: Montserrat
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: normal

.no-scrollbar
    scrollbar-width: none
    -ms-overflow-style: none
    &::-webkit-scrollbar
        width: 0
        height: 0

.portal-button
    display: flex
    padding: 12px
    justify-content: center
    align-items: center
    gap: 10px

    border-radius: 8px

    color: #fff
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    background: #262626
    width: fit-content

    cursor: pointer
    &_stretch
        align-self: stretch
        width: 100%
    &_outline
        color: #262626
        background: #fff
        border: 1px solid #262626
    &_disabled
        pointer-events: none
        cursor: not-allowed
        color: #fff
        background: rgb(169, 169, 169) !important
        border-color: rgb(128, 128, 128) !important

.welcome-screen
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(255,255,255,1)
    color: #262626
    display: flex
    justify-content: center
    align-items: center
    z-index: 9999
    opacity: 0
    transition: all .4s ease-in-out
    &.show
        opacity: 1
        .auth-page__logo
            opacity: 1
            transform: scale(1) translateY(0px)
            transition-delay: .8s
            transition: all .81s ease-in-out
        .welcome-screen__text
            opacity: 1
            transform: scale(1) translateY(0px)
            transition-delay: .8s
            transition: all .81s ease-in-out

    .auth-page__logo
        opacity: 0
        transform: scale(.4) translateY(0)

    &__text
        font-size: 24px
        font-weight: 600
        color: #262626
        opacity: 0
        transform: scale(.4) translateY(0)

    &__wrapper
        max-width: 430px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        gap: 48px

@keyframes fillAndMove
    0%
        width: 0
        left: 0
        opacity: .5

    25%
        width: 100%
        left: 0
        opacity: 1

    50%
        width: 100%
        left: 100%
        opacity: .5

    75%
        width: 0
        left: 100%
        opacity: 0

    100%
        width: 0
        left: 0
        opacity: .5

.loading-bar
    height: 4px
    background-color: #262626
    position: absolute
    left: 0
    &.animate
        animation: fillAndMove 3s infinite ease-in-out forwards
    &__container
        margin-top: 48px
        position: relative
        width: 100%
        overflow: hidden
        height: 4px

.main-cards
    &__wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 12px
        flex-wrap: wrap
    &__item
        display: flex
        background: #EEF0F5
        border-radius: 18px
        min-width: 100px
        min-height: 100px
        padding: 6px
        grid-column: 1 / 3
        height: 100%
        &:hover
            .main-cards__item-image
                &::after
                    background: rgba(0, 0, 0, 0.2)
        &-tag
            display: flex
            justify-content: center
            align-items: center
            font-size: 11px
            font-weight: 600
            padding: 6px 7px
            position: absolute
            left: 0
            top: 0
            border-radius: 0px 0 8px 0
            overflow: hidden
            background: #2DCA13
            color: #fff
        &-image
            border-radius: 12px
            max-width: 49%
            width: 100%
            overflow: hidden
            max-height: 160px
            position: relative
            &::after
                content: ''
                position: absolute
                left: 0
                right: 0
                top: 0
                bottom: 0
                transition: all .18s ease-in-out
                background: rgba(0, 0, 0, 0)
            img
                object-fit: cover
                width: 100%
                height: 100%
        &-text
            display: flex
            flex-direction: column
            padding-left: 16px
            justify-content: center
        &-title
            font-size: 14px
            color: #262626
            font-weight: 600
        &-subtitle
            font-size: 12px
            color: #8C8DA8
            font-weight: 600

.card-big
    grid-column: 1 / 3
    .main-cards__item
        flex-direction: column
        &-image
            max-width: 100%
            max-height: 260px
        &-text
            padding: 4px 12px
        &-title
            font-size: 18px

.card-min
    .main-cards__item
        flex-direction: column
        &-image
            max-width: 100%
            max-height: 140px
        &-text
            padding: 4px 8px
        &-title

.card-std
    grid-column: 1 / 3

.back-button
    display: flex
    padding: 9px 20px
    border-radius: 12px
    background: #eef0f5
    height: fit-content
    width: fit-content
    border: 1px solid rgba(140, 141, 168, 0.5)
    cursor: pointer
    div
        div
            display: flex
            transition: all .14s ease-in-out
            transform: translateX(0px)
    &:hover
        div
            div
                transform: translateX(-10px)
